[2015-06-06 03:54] shawlang opened #1 "Disqus can't be loaded."
I added the `disqus_shortname:shawlang ` to the _config.yml, but Disqus can't be loaded.
The error is

Then I copyed the universal code from Disqus to the end of file "article.ejs".It works.
I think there is something wrong the code of Minos.

[2015-06-06 04:00] ppoffice commented on #1
Which _config.yml did you put `disqus_shortname:shawlang` in? I think the problem may have something to do with your config. And the Disqus script is in the `after-footer.ejs`, you can compare it to your universal code to find out the differences that may help to solve the problem.

[2015-06-06 04:17] shawlang commented on #1
I put it into the global _config.yml.(not into themes/_config.yml).
I compare the universal code to the code of after-footer.ejs. They are almost the same.

[2015-06-06 04:33] shawlang commented on #1
I put it into the global _config.yml.(not into themes/_config.yml).
I compared the universal code to the code of after-footer.ejs. They are almost the same. I cannot figure it out.

###### 1. after-footer.ejs

[code]

###### 2. universal code

[code]

[2015-06-06 04:54] ppoffice commented on #1
Please add `var disqus_developer = 1;` to the original `after-footer.ejs` Disqus script and see if anything changes, or you may want to check your Disqus site config to see if there exists any block rules.

[2015-06-06 05:22] shawlang commented on #1
nothing changed. It exists the same error.This is my blog website : [shawlang.github.io](http://shawlang.github.io)

There're no special block rules here : [Disqus universal code](https://shawlang.disqus.com/admin/settings/universalcode/)

[2015-06-06 06:20] ppoffice commented on #1
I think I found the problem: your are using relative `disqus_url` in your post. According to https://help.disqus.com/customer/portal/articles/472007-i-m-receiving-the-message-%22we-were-unable-to-load-disqus-%22, `disqus_url must use an absolute URL; relative URLs won’t work. E.g.`, so you need to edit your Disqus config and add `http://` before your site url.

[2015-06-06 08:57] shawlang commented on #1
Thanks. You are right. But I fixed the problem by rewrite the URL in the global _config.yml of Hexo,not  edited it in the Disqus config.
#### correct:

#### incorrect

That can be explained.
[code]
In fact, disqus_url needs the absolute link which consists of "http://",and the prefix of page.permalink is provided by global _config.yml. So if the prefix is right,disqus_url will be right.

Thanks ag

[2015-06-06 15:36] #1 closed

[2015-06-11 15:08] iczbl opened #2 "移动端视频不能自适应，窗口显示不完整"
文章里包含youtube视频，在手机端不能自适应分辨率，而且窗口不能完整显示，
视频代码`<iframe width="560" height="315" src="https://www.youtube.com/embed/-YGDyPAwQz0" frameborder="0" allowfullscreen></iframe>`
使用android默认浏览器和chrome均有次问题

[2015-06-11 15:14] iczbl opened #3 "被引用文字的字体太大"
被引用的文字比正文大太多

![pic](https://i.imgur.com/aNwSkvf.png)

[2015-06-12 01:39] ppoffice commented on #3
这个不算是issue吧。。。
你可以在`source/css/_partial/article.styl `里面修改font-size

[2015-06-12 02:44] iczbl commented on #3
谢谢

[2015-06-12 02:44] #3 closed

[2015-06-12 03:06] ppoffice commented on #2
由于不同视频网站的播放器默认大小可能是不一样的，所以统一在主题css里面规定是复杂而且并没有什么卵用的。。。所以这里给你一个临时解决方法吧：
[code]
把这个插入到你原来插入iframe的位置。其中div的56%就是你播放器应该有的宽高比。

[2015-06-12 04:46] iczbl commented on #2
@ppoffice
呃..宽高比正常，但是播放器窗口超出屏幕的部分显示不了，直接在中间被剪掉了，往左也拖动不了

![yy](https://i.imgur.com/ufAaicI.png)

[2015-06-12 05:14] ppoffice commented on #2
可以给一个网址么？我去观察下

[2015-06-12 05:16] iczbl commented on #2
https://z-bl.com/2015/02/16/Sex-with-The-Hulk/

[2015-06-12 06:19] #2 closed

[2015-06-12 06:24] ppoffice commented on #2
我看了一下你的地址，现在应该是已经好了。至于Android上如果还是显示不全的话，应该是浏览器版本过低的问题了。
同时欢迎你把解决方案pull-request过来

[2015-06-27 05:40] kp25 opened #4 "How to set text as a logo instead of a separate .png file ?"

[2015-07-01 08:48] shawlang opened #5 "Markdown blockquotes syntax doesn't work as usual."
When I write posts like this:
![](https://s3.amazonaws.com/f.cl.ly/items/0Z120f0d1V3K0z0t2d1c/quote2.png)
But the result in post is like this:
![](https://s3.amazonaws.com/f.cl.ly/items/1q0o1K1d3j2Z2V122M1c/quote.png)
I think it should be like this:

So what's the problem with theme?  This is my  [post website:](http://shawlang.github.io/2015/07/01/Windows%E7%8E%AF%E5%A2%83%E4%B8%8Bdjango%E5%BC%80

[2015-07-01 09:26] ppoffice commented on #5
It's just a unique blockquote style for minos theme. You can edit `minos/source/css/_partial/article.styl` to get a left-bordered blockquote style.

[2015-07-01 09:54] shawlang commented on #5
How can I make it like default style or github style?

[2015-07-01 10:11] shawlang commented on #5
Thanks to your help,I had created a new style like this by myself.
![](https://s3.amazonaws.com/f.cl.ly/items/0o232E0Y3h240a241b3S/quote3.png)

[2015-07-11 13:54] zhengfuwang opened #6 "新增功能意见"
希望能够新增 多说品论、百度分享、Swiftype搜索 功能。

[2015-07-17 15:03] kp25 commented on #4
feature is working great,
@ppoffice set the label as a feature request or bug, closing the issue.

[2015-07-17 15:03] #4 closed

[2015-07-19 06:26] DerekYangYC opened #9 "Categories Tags 和 About 菜单均返回404 File not found"
如题。但是由文章点入某一个具体的categories是可以显示页面的，例如categories/mycategories

[2015-07-19 07:54] ppoffice commented on #9
参见Readme
[code]

[2015-07-21 01:32] younglaker opened #10 "How to open RSS function?"
I haved installed `hexo-migrator-rss`, added `plugins: - hexo-generator-feed` to `_config.yml`  and excuted `hexo g`, but there doesn't have `atom.xml` .

[2015-07-21 07:04] ppoffice commented on #10
I think you should install [hexo-generator-feed](https://github.com/hexojs/hexo-generator-feed), not hexo-migrator-rss.

[2015-07-21 07:18] younglaker commented on #10
THX, My fault. I tried different tutorials and mixed up.

[2015-07-21 07:18] #10 closed

[2015-07-21 09:02] younglaker commented on #10
I find `atom.xml`, but I find nothing in the web page.

in `_config.yml`:

    plugins:
      - hexo-generator-feed

    rss: true

Right?

[2015-07-21 09:29] ppoffice commented on #10
In the theme configuration:
[code]

[2015-08-08 17:31] shawlang opened #12 "How can I change default Google search to swifttype search of search box?"
Google is blocked in China. So I have to change the Google search to other search engine and I take swifttype a try.

But I followed the guide of [https://swiftype.com](https://swiftype.com) and installed it. But when I search something in search box. It still used Google engine.

###### This is my way of installation.
step1.  copy the code of installation code from swifttype.com to the end of fil

[2015-08-09 01:00] #12 closed

[2015-08-17 17:11] zhuoshuai opened #13 "手机端菜单显示"
在手机端菜单显示只是在左侧 一个带有三个横杠的 按钮 ，点击它就返回主页，点击中间的空格菜单 也亦返回主页，手机端将电脑端的 菜单显示完全怎么办？

[2015-08-18 01:20] ppoffice commented on #13
应该是你的JS脚本没有完全加载。尝试下清空缓存？

[2015-08-18 01:27] zhuoshuai commented on #13
系统iOS7.1.2 用的Safari ，我刚才把手机端的cookies和数据清除了，但问题依旧n

—
Sent from Mailbox

On Tue, Aug 18, 2015 at 9:20 AM, ppoffice <notifications@github.com>
wrote:

[2015-08-18 07:13] ppoffice commented on #13
我大概知道什么原因了，晚上搞定

[2015-08-18 14:08] #5 closed

[2015-09-15 12:54] fchypzero opened #14 "搜索修改"
个人需求需要修改主题的搜索栏，修改成为 Google CSE，但是找很久都没有找到需改的地方，请问在哪里修改呢。

[2015-09-16 07:09] ppoffice commented on #14
这个需要自己动手修改HTML代码
https://github.com/ppoffice/hexo-theme-hueman/issues/2

[2015-10-12 20:57] jbcpollak opened #16 "Add support for table of contents?"
Does Minos support rendering a table of contents, like in https://github.com/hexojs/hexo/issues/408?

It looks like tranquilpeak supports the TOC by using a `` tag:

https://github.com/LouisBarranqueiro/tranquilpeak-hexo-theme/blob/master/docs/user.md#display-table-of-contents

[2015-10-23 06:23] #13 closed

[2015-10-23 06:23] #9 closed

[2015-10-23 07:23] ppoffice commented on #16
Just add
[code]
in your theme's `_config.yml` file to enable `toc`.

[2015-11-23 05:35] sincerexie opened #17 "请问如何设置head.ejs中图标favicon？"
怎么试都没有成功，能不能告知下方法

[2015-11-23 06:47] ppoffice commented on #17
替换下[/source/css/images/logo.png](https://github.com/ppoffice/hexo-theme-minos/blob/master/source/css/images/logo.png)

[2015-11-23 08:23] sincerexie commented on #17
谢谢，已经没问题了，是我的chrome出了问题，设置是成功的。

[2015-11-23 08:24] #17 closed

[2015-12-16 06:09] tomByrer opened #18 "unsure how to add "Read More", categories, tags"
Added the contents from `_config.yml.example`, but I still don't get the "Read More" links on the homepage & categories / tags pages.
Could you upload the source of your demo/`gh-pages' if you won't want to write a full tutorial please?

[2015-12-16 07:17] ppoffice commented on #18
https://github.com/ppoffice/hexo-theme-icarus/issues/60

[2015-12-22 08:39] theqwang opened #19 "如何添加disqus评论？"
您好，很喜欢这个主题！可是我安装以后怎么没有demo里的disqus评论了呢，求告知怎么添加disqus，感谢！

[2015-12-22 09:10] ppoffice commented on #19
我帮你Google了一下。
http://guoshuang.com/hexo/hexo%E5%8A%A0%E8%AF%84%E8%AE%BA/
这种问题举手之劳……

[2015-12-24 01:11] #14 closed

[2015-12-24 01:12] #6 closed

[2015-12-24 01:12] #19 closed

[2015-12-24 01:12] #18 closed

[2015-12-24 01:12] #16 closed

[2016-01-04 20:38] myskn opened #20 "怎样添加“多说”评论？"
主题配置文件里好像没有？
想手动添加，不知道要添加到哪个文件里？

[2016-01-05 01:04] ppoffice commented on #20
暂时没有添加多说评论的功能，不过你可以参照着下面两个文件修改：
https://github.com/ppoffice/hexo-theme-minos/blob/master/layout/_partial/article.ejs#L47
https://github.com/ppoffice/hexo-theme-minos/blob/master/layout/_partial/after-footer.ejs#L1

[2016-01-05 01:32] myskn commented on #20
解决了
http://dev.duoshuo.com/threads/541d3b2b40b5abcd2e4df0e9

[2016-01-05 01:32] #20 closed

[2016-03-04 13:19] avenom opened #21 "Swiftype"
Please, add to this theme Swiftype.

[2016-03-04 14:43] ppoffice commented on #21
Thank you for your advice.

Currently I'm working on other projects. This theme will get a major update, but not in the near future:cry:

You can also take a look at other theme provided in my repos, each of them also look very nice, and have useful plugins:smile:

[2016-03-04 15:48] #21 closed

[2016-05-02 04:12] hidasia opened #22 "请问搜索栏的搜索地址如何更改？"
我的github pages绑定了一个cname域名。
minos主题的默认搜索站点是 xxx.github.io 但是google显示不出来任何搜索结果，若改成：关键字 site:http://x.zyx.im google才会搜索出站点的相关内容。
请问如何将搜索地址由xxx.github.io 改成我自己的域名？
源码看了老半天 不知从何下手…

谢谢！

[2016-05-02 08:29] ppoffice commented on #22
修改博客根目录的_config.yml中的url为你的自定义域名试试

[2016-06-10 02:34] justjump opened #23 "请教如何设置首页只显示文章标题和时间等信息，而不显示正文内容"
如题。
非常感谢。

[2016-06-10 03:42] ppoffice commented on #23
如果所有文章都要求这样的话只能去改主题的布局文件。
https://github.com/ppoffice/hexo-theme-minos/blob/master/layout/_partial/archive.ejs#L71
改成`<%- partial('article-post', {post: post, index: true}) %>`。（我没有测试过）
否则把``标签插入到正文第一行就行了。

[2016-06-10 10:12] justjump commented on #23
加入可以了.谢谢.

[2016-06-10 10:12] #23 closed

[2016-07-17 16:08] joey3060 opened #24 "留言功能？"
作者您好
很高興您做出這麼有質感的主題，我們也很喜歡。
只是不知道您有沒有多加留言的功能呢？

我自己是Google許久，嘗試許多方式，還是無法看到留言功能出現ＱＱ

[2016-07-17 16:40] ppoffice commented on #24
@joey3060
目前可以用disqus，其他的暂时没加上，不过网上有添加的教程

[2016-07-30 08:20] charsdavy opened #25 "请问about页面如何设置"
按照说明文档弄好了tags和categories页面，可是不知道该怎么设置about页面？谢谢

[2016-08-03 11:50] charsdavy commented on #19
无效！！！！！之前用yilia主题没有问题

[2016-08-03 13:33] ppoffice commented on #19
@charsdavy 可能是Disqus更新了评论代码，以标记Bug，待修复

[2016-09-05 02:46] #25 closed

[2016-09-05 02:47] charsdavy opened #27 "无法打开链接"
最近两天使用这个theme直接无法使用http打开链接了，本来以为是github的问题。换了theme才知道，是minos的问题，但是无法排查，请看看是什么问题。

[2016-09-05 07:35] ppoffice commented on #27
@charsdavy
可能是Minos依赖的JavaScript文件或者样式表没有加载？请尝试挂代理访问

[2016-09-05 08:18] charsdavy commented on #27
使用http不能打开链接，使用https却可以。应该不是资源的问题吧。

[2016-09-05 09:33] ppoffice commented on #27
@charsdavy
请在不能打开的界面上按下F12切换到console查看错误信息

[2016-09-05 10:14] charsdavy commented on #27
现在又复现不了了，下次再出现，我尽量把console错误信息贴上来。

[2016-09-27 07:55] liuyimx opened #28 "Read More？"
作者你好：
我的首页文章列表中，把文章的所有内容都输出了。
我想要像你的例子里那样，展示出来一部分，然后有一个“文章详情”的链接，可是在你的配置说明中没有找到。
是在其他地方配置吗？

[2016-09-27 13:36] TellH opened #29 "请问代码hightlight风格可以改吗"

[2016-09-27 14:03] ppoffice commented on #28
@liuyimx
在你的Markdown里面添加：
[code]

[2016-09-27 14:27] TellH commented on #29
是直接覆盖highlight.styll吗

[2016-09-27 16:40] ppoffice commented on #29
@TellH
不行，只能照着里面的颜色改

[2016-09-28 05:26] TellH commented on #29
@ppoffice 问题已解决，非常感谢。另外，我觉得这个主题的代码块用light风格比较好，黑色底的代码块总感觉怪怪的。

[2016-09-28 05:26] #29 closed

[2016-09-28 14:27] TellH commented on #22
@ppoffice 有没有实现本地站内搜索功能的计划？http://moxfive.xyz/2016/05/31/hexo-local-search/

[2016-09-28 14:47] ppoffice commented on #22
@TellH 暂时没有计划

[2016-09-29 09:32] TellH opened #30 "请问字体如何改变？"

[2016-09-29 14:15] ppoffice commented on #30
@TellH
https://github.com/ppoffice/hexo-theme-minos/blob/master/source/css/_variables.styl#L12

[2017-01-17 11:19] kyriejoshua opened #31 "以后会增加打赏功能吗"
类似直接向作者付费这样的功能。

[2017-01-17 12:07] ppoffice commented on #31
@kyriejoshua
没有这项计划

[2017-01-18 02:08] #31 closed

[2017-02-20 23:28] carsonip opened #32 "jQuery not loading in Demo"
In the Demo ("Preview") site provided in the readme, which is http://blog.zhangruipeng.me/hexo-theme-minos/ , jQuery is not loading because of a wrong js src path. This causes the navigation drawer button to not work.

Current problematic version:
[code]

While it is supposed to be:
[code]

Note that this does not affect any of the theme users. This bug only appears in the demo page. I would sugge

[2017-03-24 12:26] Hugh-Shu-Wang opened #33 "如何添加社交网络的小logo链接"
您好，我想把linkedin，facebook等社交网络的链接放在网站的下面，就是powered by hexo的旁边，然后通过小图标点击，请问如何做？

[2017-03-24 13:11] ppoffice commented on #33
https://github.com/ppoffice/hexo-theme-minos/blob/master/layout/_partial/footer.ejs

自行添加FontAwesome里面的图标

[2017-03-25 16:44] Hugh-Shu-Wang commented on #33
谢谢！还有一个问题：请问如何在文章副标题（日期，分类）的地方加上其他东西？比如我想加上访问量

[2017-03-26 04:00] #33 closed

[2017-10-09 00:10] Zhiwei1996 opened #34 "如何在文章中添加category和tag"
请问，如何在文章中添加category和tag，我没有在README中看到相关说明啊

[2017-10-22 05:10] joshanderson99 opened #35 "Showing pages"
I've got pages as well as posts (in docs treated as separate "layouts"), and want to show the these pages from the theme's menu bar, similar to the Archives page.  Though this is not strictly a theme issue, more how to in its extension, do you know how this might be done, or know of a relevant article that may help?  In the theme there's a page.ejs, but it's content refers to a post.

[2017-10-23 04:23] joshanderson99 commented on #35
It appears page.ejs, referred to above, might be an entry point, pages received being passed to article.ejs.  But then it seems that entry point is only getting post pages, plain pages being ignored.  Maybe setting a layout in page front matter could get plain pages working within the theme.

[2017-10-23 08:16] joshanderson99 commented on #35
Solved.  Hexo doesn't automatically process pages I discovered, unlike posts.  The page.ejs fragment is invoked when a page is explicitly invoked in the browser.

[2017-12-14 07:57] rosingle commented on #13
这个已经解决了嘛，我看那个示范网站还是一样啊

[2017-12-14 08:06] rosingle opened #36 "手机端显示还是三条杠。。。"
还是木有解决呀。。

[2017-12-15 15:32] #24 closed

[2018-01-27 09:08] Logan1x commented on #28
@ppoffice  You should add this to wiki page 😂😂

[2018-03-08 08:29] chujianblog opened #37 "markdown解析显示问题"
为什么“--”或者“---”多条横杠会解析显示成“-”一条横杠

[2018-03-15 05:27] #32 closed

[2018-03-15 05:27] #36 closed

[2018-03-21 23:20] #35 closed

[2018-03-21 23:25] #22 closed

[2018-03-21 23:25] #27 closed

[2018-03-21 23:30] #37 closed

[2018-03-21 23:30] #34 closed

[2018-03-21 23:30] #30 closed

[2018-03-21 23:30] #28 closed

[2018-03-22 18:05] ppoffice opened #38 "Being Outside in Fresh Air & How Your Body Loves It - Minos"
http://localhost:4000/hexo-theme-minos/2018/03/10/post2/

[2018-03-22 18:05] #38 closed

[2018-03-22 18:05] ppoffice opened #39 "About Minos - Minos"
http://localhost:4000/hexo-theme-minos/about/

[2018-03-22 18:06] ppoffice commented on #39
Gitment test.

[2018-03-22 22:11] #39 closed

[2018-04-12 09:19] dengcb opened #40 "多语言支持不好"
尝试了各种i18n的插件，包括官方i18n的，但是基本上不能正确显示。
不知道将来有没有这个计划支持多语言（界面、同一篇文章不同语言）？

[2018-04-12 19:10] ppoffice commented on #40
@dengcb  感谢建议。目前minos即将推出新版本，我会考虑一下i18n的支持。

[2018-04-16 01:50] #40 closed

[2018-04-16 12:54] dengcb opened #41 "2.0 pre测试中的一些小问题"
我更新到了2.0 pre，同时使用hexo-multilingual做全站多语言，发现了一些小问题。
包配置如下：

[code]

`hexo-multilingual`系列在minos1.0里很好地完成了全站双语化，但是在2.0里：
1. 缺失categories、tags、about三个页面的模板，所以出问题了
2. archives没有生成双语版，之前1.0很完美的双语
3. 有一部分界面语言还没有中文翻译

参见：https://dengcb.com
期待完善~

[2018-04-16 14:30] ppoffice commented on #41
感谢建议，我会逐步更新这些功能

[2018-04-17 07:58] dengcb commented on #41
我更新了最新dev的代码，惊喜的发现**全站多语言**基本上实现了。

首先，可以卸载hexo-multilingual的各种generator了，因为最新代码基本上实现了对应功能。
但是，hexo-multilingual这个核心包还是不能卸载，因为它基于
[code]
这两个标签，把混在一起的多语言文章给区分开来，在文章详情页**上一篇下一篇**就不会出现语言混搭。我尝试卸载后，发现多种语言文章混在一起了，如果解决了这个，就可以卸载hexo-multilingual了。

其他，发现的一些小问题，比如：
1. about还没有多语言，可以引申为，所有page页是否可以用`lang和label`两个标签来区分多语言。
2. 文章详情页的分类和书签链接，默认语言还是带en，无效。其实，我在config里用两个map完美实现双语分类和书签的切换。
[code]
3. Insight sear

[2018-04-18 13:39] dengcb commented on #41
我在测试的过程中，感觉到**约定大于配置**，会省很多事，否则会出现各种问题。
我把根配置里稀奇古怪的地方都改成默认的了，然后按照你给的目录结构进行了重新布局。
[code]
另外，把包也精简了
[code]
之前绝大部分问题都消失了，功能也很完美。

当然，还有些bug，如下：
1. 文章详情里分类和书签，在英文下，会有错链：/en/tags/anything, /en/categories/nothing
2. 文章发布时间和阅读时间，中文下没有翻译，还是“8 Days Ago”
3. 菜单Category和Tag点击进去，title漏了，只有站点名称
4. footer里，切换器会被footer_links配置影响，应该这样
[code]
5. Insight search本地和github不太一样，可能是缓存的问题？明天再看看。

其他我觉得很好，准备写一篇文章帮小白入门。

[2018-04-18 20:38] ppoffice commented on #41
2. 与时间有关的翻译是由moment.js处理的，它使用的是`ll-cc`格式的语言代码，所以`zh-cn`可以翻译成中文，但是`zh`就不行。各个第三方库使用的语言代码格式不一，目前我在`Disqus`, `Facebook comment plugin`和`moment.js`中把用户配置的语言代码转尽可能地转换成了它们需要的语言格式。关于语言格式的话请查阅`ISO639`和`RFC5646`。

5. 目前如果在一个站点中使用多语言，并且对于同一个post需要支持多个语言版本的话，必须保证post的`path`或者`permalink`以语言名开头，如`zh-cn/example.md`。这种情况下，设置`permalink: :slug/...`是最好的。而且因为post放到了zh-cn目录中，所以post的slug和title都是以`zh-cn`开头的。所以这个是Hexo对于p

[2018-04-19 13:26] dengcb commented on #41
首先，非常感谢能为我兼容 `zh≈zh-cn` 这种不严谨的诡异要求，我就是个对称控。

其次，我再也测不出bug了，除了修改了一点点代码，把index.html给匿了（还是强迫症）。

我在blog上也写了一篇 [文章](https://dengcb.com/zh/hexo-minos-multi-language/)，讲述整个过程。

关闭此帖！

[2018-04-19 13:26] #41 closed

[2018-04-19 13:28] dengcb commented on #41
最后，想起一点，不算bug，是不是head里少了一些meta，所以没有弹出谷歌翻译网页的东东，也就是没有强迫网页是某种语言属性。其实这样挺好，每次弹谷歌翻译也很烦人。

[2018-04-23 05:33] strawoo opened #42 "Error When Run Hexo"
Hello. I got a problem when run Hexo after install minox

Error
`Script ERROR Script load failed: themes/minos/scripts/01_check.js
ReferenceError: hexo is not defined`

Hexo version

hexo: 3.7.1
hexo-cli: 1.1.0

Why this error Occur?

[2018-04-23 06:40] ppoffice commented on #42
@strawoo Could you please fetch the latest master branch and test if the problem still shows up. If it is, please attack the full error log and your package.json file. Thank you.

[2018-04-23 06:49] strawoo commented on #42
Thank you for your appreciation. It's running!.

[2018-04-23 06:49] #42 closed

[2018-04-23 15:11] dengcb commented on #41
发现一些缺陷：
在多语言站点里，应该在head里添加`alternate url`，如：
[code]
这样，对搜索引擎更友好，seo更好

[2018-06-17 17:49] vic4113110631 opened #43 "How to disable comments on specific pages?"
Just like NeXT theme, add `comments: false` to .md files.
Minos provides any this function? Can someone know this?
I use disqus on my web.

[2018-06-17 19:16] ppoffice commented on #43
@vic4113110631 You should try `comment: false`

[2018-06-18 04:35] vic4113110631 commented on #43
it works. Thanks for help!

[2018-06-18 04:35] #43 closed

[2018-06-23 15:28] leofo opened #44 "Sass"
`DEPRECATION WARNING on line 5, column 8 of D:/05_Server/02_blog/me/themes/minos/                                                                                                                                  source/css/style.scss:
Including .css files with @import is non-standard behaviour which will be remove

[2018-06-23 15:28] leofo commented on #44
DEPRECATION WARNING on line 5, column 8 of D:/05_Server/02_blog/me/themes/minos/                                                                                                                                  source/css/style.scss:
Including .css files with @import is non-standard behaviour which will be remove

[2018-06-23 15:59] ppoffice commented on #44
@leofo Thanks for the information.

[2018-06-28 12:16] taiyuanhang opened #45 "导航栏等其他内容均不显示"
你好，我将源码上传到GitHub，再从GitHub下载，会导致导航栏、搜索功能、评论功能消失。
还请看下我的仓库，它在source分支。

[2018-06-28 14:54] ppoffice commented on #45
@taiyuanhang 主题的`_config.yml`默认是被gitignore掉的，所以上传到GitHub上的没有主题配置文件。你需要修改.gitignore来确保上传这个文件。

https://github.com/taiyuanhang/taiyuanhang.github.io/blob/source/themes/minos/.gitignore#L1

[2018-06-28 15:24] taiyuanhang commented on #45
@ppoffice 已经解决，谢谢。

[2018-06-28 15:30] #45 closed

[2018-06-28 16:33] taiyuanhang opened #46 "如何添加百度统计"
由于网上的文章都是针对某个主题，所以它不适合我。我也曾效仿你的其他作品从而进行设置，可惜依然不行。
想请问一下对于该主题如何添加百度统计？就像Google统计那样，可以在主题配置文件中通过“id”进行一键设置。

[2018-06-28 17:24] ppoffice commented on #46
@taiyuanhang
流程简述

1. 在/layout/plugins/目录下新建插件文件，如baidu-analytics.ejs
2. 将百度统计代码复制到其中，并注意用`get_config`函数替换掉自己的ID
3. 在主题配置文件中添加相应的配置

函数说明

1. `has_config`: 检测主题配置文件中是否存在某配置项
2. `get_config`: 获取配置项的值

具体实现可以参照 https://github.com/ppoffice/hexo-theme-minos/blob/master/layout/plugins/google-analytics.ejs

[2018-06-29 06:23] taiyuanhang commented on #46
@ppoffice 已解决，谢谢。

[2018-06-29 06:23] #46 closed

[2018-07-02 07:36] taiyuanhang opened #47 "文章发布时间不变"
比如文章发布时间是8小时前，过了第二天还是显示8小时前，这个时间始终不会变。

[2018-07-02 18:28] ppoffice commented on #47
@taiyuanhang 感谢反馈，我会尽快修复。

[2018-07-03 08:07] inspiringz opened #48 "可以更新个适配的TOC吗"

[2018-07-13 08:20] #47 closed

[2018-07-13 08:20] taiyuanhang commented on #47
@ppoffice 谢谢，已解决。

[2018-07-14 04:30] ppoffice commented on #48
@inspiringz
在文章markdown文件头部加入`toc: true`即可。

请参考
https://blog.zhangruipeng.me/hexo-theme-minos/Writing-Math-Formulas-Using-MathJax/
https://github.com/ppoffice/hexo-theme-minos/edit/site/source/_posts/Writing-Math-Formulas-Using-MathJax.md 第八行

[2018-07-18 06:28] lijunnba2009 opened #50 "报错"
ReferenceError: hexo is not defined
    at Object.<anonymous> (C:\Users\63479\leeblog\themes\minos\scripts\10_i18n.js:103:1)
    at Module._compile (module.js:556:32)
    at Object.Module._extensions..js (module.js:565:10)
    at Module.load (module.js:473:32)
    at tryModuleLoad (module.js:432:12)
    at Function.Module._load (module.js:424:3)
    at Module.require (module.js:483:17)
    at requ

[2018-07-18 06:31] lijunnba2009 commented on #50
环境：
hexo: 3.7.1
hexo-cli: 1.1.0
os: Windows_NT 10.0.17134 win32 x64
http_parser: 2.7.0
node: 6.5.0
v8: 5.1.281.81
uv: 1.9.1
zlib: 1.2.8
ares: 1.10.1-DEV
icu: 57.1
modules: 48
openssl: 1.0.2h

[2018-07-19 01:06] inspiringz commented on #48
已解决 感谢！

[2018-07-19 15:07] #48 closed

[2018-07-19 15:35] ppoffice commented on #50
@lijunnba2009 请尝试升级下node的版本。如果问题仍然存在，请帖一下博客的源代码地址，这样我可以调试一下。

[2018-07-23 08:36] lijunnba2009 commented on #50
@ppoffice 尝试把node切到 8.11.3和6.9.5，仍报原先的错误，我的博客源码地址 https://github.com/lijunnba2009/leeblog

[2018-07-24 02:16] ppoffice commented on #50
@lijunnba2009 我clone了你的博客并进行了测试，并没有发现你所说的问题。请首先确保安装了hexo-renderer-sass，并且使用`hexo clean`清除缓存，然后使用`hexo g`或者`hexo s`是否能正常生成博客文件。

[code]

[2018-07-24 03:00] ppoffice commented on #44
@leofo Now the highlight theme is loaded from CDN by specifying its names in the configuration file.
https://github.com/ppoffice/hexo-theme-minos/blob/master/_config.yml.example#L22

[2018-07-25 17:54] #44 closed

[2018-07-26 11:27] neptoo opened #52 "deprecation warning"
运行时报错
DEPRECATION WARNING on line 5, column 8 of D:/hexo/themes/minos/source/css/style.scss:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.
请问这个怎么解决？

[2018-07-26 15:00] ppoffice commented on #52
@neptoo 请更新至最新版本的minos

[2018-07-27 01:10] ckcks12 opened #54 "Google Analytics to <head>"
Hi.

To verify site ownership from google search console, Google analytics should be placed at `<head>`.

See this [https://support.google.com/webmasters/answer/35179?hl=en](https://support.google.com/webmasters/answer/35179?hl=en)

[2018-07-27 02:15] neptoo commented on #52
好的 解决了

[2018-07-27 04:05] ckcks12 opened #55 "post.content Encoding error"
Hi.

I got some encoding issue.

Title and some additional info are printed pretty well, but content isn't.

I attached two images. Minos theme and Landscape(default theme).

![](https://i.imgur.com/2rqlHX7.png)

![](https://i.imgur.com/kKfHN7s.png)

`이런글자` is printed properly but Minos theme does like `&#x000`.
It is important to be  crawled. Document is not recognized well by crawler.
Also insig

[2018-07-27 14:36] #52 closed

[2018-07-28 04:24] EIVX opened #57 "About configuring Valine Comment document Errors"
There is an error in configuring Valine Comment service documentation in MINOS

Source Document

[code]
In fact, this will show the AppID and Appkey in the comments area of Minos
This should be the correct configuration
[code]
Thank you for your work.

[2018-07-28 16:19] #54 closed

[2018-08-01 07:48] aishenghuomeidaoli opened #58 "如何添加头部元信息how to define meta links in header"

[2018-08-02 12:35] ppoffice commented on #58
@aishenghuomeidaoli 直接修改layout文件即可
https://github.com/ppoffice/hexo-theme-minos/blob/master/layout/common/head.ejs

[2018-08-03 01:11] aishenghuomeidaoli commented on #58
多谢

[2018-08-05 22:07] #57 closed

[2018-08-05 22:07] #50 closed

[2018-08-23 04:12] chenzhijie opened #60 "Can't support markdown sequence diagram?"
I write a post with sequence diagram, but it seems it can't render the diagram. Can you please add this feature?

Example:

[code]

[2018-08-23 04:59] chenzhijie commented on #60
sorry, i have found the solution from http://wewelove.github.io/fcoder/2017/09/06/markdown-sequence/

[2018-08-23 04:59] #60 closed

[2018-08-31 23:41] LC-Lin opened #61 "Display on mobile phone"
Hello! I really think that it is a good hexo theme which stands out. And I have tried it in my blog.
But there are some problems.
Firstly, the search button and the button linking to github become a blank block on my mobile phone.
Secondly, I tried 'mathjax: true' but failed and I chose hexo-math plugin using mathjax engine. But in the html-css output format, I think its output's size is smaller.

[2018-09-01 00:25] ppoffice commented on #61
@LC-Lin It seems like the third-party libraries this theme includes failed to load. Is this problem also happening on your desktop PC? And could you please give me the URL of your blog so I can test it on my phone as well? Thanks.

[2018-09-01 04:54] LC-Lin commented on #61
@ppoffice On my desktop PC, it displays as expected. This is [my blog](http://hexo.lcmain.top). [Your website](https://blog.zhangruipeng.me/hexo-theme-minos/) on my mobile phone has the problem as well.
Here is a screenshot. Thanks.

![screenshot_2018-09-01-12-22-03_com tencent mtt](https://user-images.githubusercontent.com/19491577/44942537-fe474600-ade5-11e8-8199-06908816b5be.png)

[2018-09-01 05:00] ppoffice commented on #61
@LC-Lin What mobile browser are you using?

[2018-09-01 05:11] LC-Lin commented on #61
@ppoffice QQ Browser

[2018-09-01 05:17] LC-Lin commented on #61
@ppoffice I try it on another mobile browser on my phone and it is normal.

[2018-09-01 05:28] LC-Lin commented on #61
@ppoffice No, I use its normal mode. I haven't done anything but there is no problem now.

[2018-09-01 05:37] LC-Lin commented on #61
@ppoffice Do you think the network is the cause? You said

 I am in China. If I can change the CDN, do you think it will become better?

[2018-09-01 05:42] ppoffice commented on #61
@LC-Lin
Probably. You can switch to a different CDN by editting https://github.com/ppoffice/hexo-theme-minos/blob/master/layout/common/head.ejs and https://github.com/ppoffice/hexo-theme-minos/blob/master/layout/common/scripts.ejs

[2018-09-01 05:43] LC-Lin commented on #61
@ppoffice OK. Thanks!

[2018-09-01 06:37] LC-Lin commented on #61
I solve the other problem by reading your source code.
Thank you!

[2018-09-01 06:37] #61 closed

[2018-09-04 13:45] liurui39660 opened #62 "[Feature Request] Copyright Section"
Hi,
I'm just getting started using this theme.
My previous theme contains a copyright claim section, which helps my reader know whether they can reuse my post.
But I haven't found that in minos.
If there is any plan for implementing this feature?

[2018-09-04 14:00] ppoffice commented on #62
No plan for that right now. However, you can DIY by inserting the claim either in the footer (https://github.com/ppoffice/hexo-theme-minos/blob/master/layout/common/footer.ejs) or at the end of the article (https://github.com/ppoffice/hexo-theme-minos/blob/master/layout/common/article.ejs).

[2018-09-04 14:01] #62 closed

[2018-09-05 16:43] hachi1030-Allen opened #63 "Having issue implementing the i18n with Minos"
Hi there, I actually followed some of the article online.

What I have done is basically created 3 yml files under the theme folder, which are: _config.yml, _config.en.yml, _config.zh-cn.yml.

Below is the config for the _config.yml **under the theme folder**:

[code]

I did not write anything in the _config.en.yml because en should be my default page and inherit from the _config.yml file under th

[2018-09-05 16:45] hachi1030-Allen commented on #63
BTW, I am from China, so I am able to speak and talk in Chinese if you want.

Thanks.

[2018-09-05 17:34] ppoffice commented on #63
@hachi1030-Allen Could you please show me your blog's source code or at least give me the address to your blog for troubleshooting? Thanks.

[2018-09-05 23:49] hachi1030-Allen commented on #63
@ppoffice

Of course, liudeyun.net is my blog. Shall we contact in personal so that I can share with u the source code?

GitHub is too public.

Thanks!

[2018-09-06 02:46] hachi1030-Allen commented on #63
@ppoffice

I will wait online today. Please feel free to contact me if you are available or free.
This issue is really bothering me.

Thanks again.

Allen

[2018-09-06 12:48] hachi1030-Allen commented on #63
@ppoffice

Any update?

I am still waiting.

Thanks,

Allen

[2018-09-06 14:11] ppoffice commented on #63
@hachi1030-Allen I'm seeing that when I switch to the Chinese language, the home page shows Chinese articles only. This is the expected behavior. The tags page also looks fine. However, the categories page shows English articles only. I will look into this.

[2018-09-06 14:27] hachi1030-Allen commented on #63
@ppoffice

Yes, today I added the categories page and tags page, which makes the main page working normally now.

Shall we have a live chat so that it will be faster for us to troubleshoot on this issue?

Which way do you prefer? It's kind of critical for me.

Thanks,

Allen

[2018-09-06 14:34] ppoffice commented on #63
@hachi1030-Allen I'm occupied between 11:00 PM EST to 1:00 PM EST. So I can chat with you outside of that time frame. Please email me your live chat contact information. You can find my email address in the commit history by the `git log` command.

[2018-09-06 14:42] hachi1030-Allen commented on #63
@ppoffice

I sent you a mail already.

Please check whether you received or not.

Thanks,

Allen

[2018-09-06 18:10] ppoffice commented on #63
for everyone's reference: please remove `hexo-generator-i18n` plugin as Minos theme have built-in localization processing functions.

[2018-09-06 18:10] #63 closed

[2018-09-17 07:54] hyrepo opened #66 "highlight.js rendering error"
Hi,
highlight.js not rendering```<``` and ```>``` which should be, for example, this is XML and HTML in **Tomorrow Night Eighties**:

![](https://www.cnblogs.com/images/cnblogs_com/xz816111/786501/o_highlight.png)

but it looks like below in generated pages:
![](https://www.cnblogs.com/images/cnblogs_com/xz816111/786501/o_issue1.png)

![](https://www.cnblogs.com/images/cnblogs_com/xz816111/786501/

[2018-09-17 07:55] hyrepo opened #67 "highlight.js rendering error"
Hi,
highlight.js not rendering```<``` and ```>``` which should be, for example, this is XML and HTML in **Tomorrow Night Eighties**:

![](https://www.cnblogs.com/images/cnblogs_com/xz816111/786501/o_highlight.png)

but it looks like below in generated pages:

[Error 1](http://images.cnblogs.com/cnblogs_com/xz816111/786501/o_issue1.png)

[Error 2](https://www.cnblogs.com/images/cnblogs_com/xz816111

[2018-09-17 07:55] #66 closed

[2018-09-18 02:28] #67 closed

[2018-09-29 04:27] Haocen opened #68 "Favicon and OpenGraph meta doesn't exist"
For Favicon:

https://realfavicongenerator.net/favicon_checker?protocol=https&site=blog.zhangruipeng.me%2Fhexo-theme-minos%2F

For OpenGraph:

https://opengraphcheck.com/result.php?url=https%3A%2F%2Fblog.zhangruipeng.me%2Fhexo-theme-minos%2F

[2018-09-29 15:46] ppoffice commented on #68
@Haocen The demo site does not have these things.

[2018-09-29 15:46] #68 closed

[2018-09-29 15:47] Haocen commented on #68
Mind to share some hint about how user can add them?

[2018-09-29 16:03] ppoffice commented on #68
https://github.com/ppoffice/hexo-theme-minos/blob/master/_config.yml.example#L1-L10

[2018-10-20 04:48] JoeAsir opened #69 "Font Awesome Icons Issue"
When I use Icons which name with a hyphen, the icon cannot be shown.
For example, when I use user-times(https://fontawesome.com/icons/user-times?style=solid), the icon cannot be loaded correctly.

[2018-10-20 07:17] JoeAsir commented on #69
@ppoffice
The Icon user-ninja couldn't be present and here is my _config.yml.

# Website's icon url.
favicon: /favicon.ico

# Open Graph metadata (https://hexo.io/docs/helpers.html#open-graph)
open_graph:
  twitter_id:
  twitter_site:
  google_plus:
  fb_admins:
  fb_app_id:

# Website's logo shown on the left of the navigation bar.
# It can either be an url to an image or a string if the followin

[2018-10-20 21:42] ppoffice commented on #69
@JoeAsir user-ninja was release with FontAwesome 5.0.11 while this theme uses 5.0.8. You can fix this by bumping the version number in this file. https://github.com/ppoffice/hexo-theme-minos/blob/master/layout/common/head.ejs#L45

[2018-10-21 06:52] JoeAsir commented on #69
@ppoffice Thanks! It really works.
By the way, I have another question, how to add the table of contents as shown on the navigation bar in the [Documents](https://blog.zhangruipeng.me/hexo-theme-minos/Configuring-Minos/), I have no idea after going through the whole Documents.

[2018-10-21 14:13] ppoffice commented on #69
@JoeAsir Add `toc: true` to the front-matter of your post.

https://raw.githubusercontent.com/ppoffice/hexo-theme-minos/site/source/_posts/Configuring-Minos.md

[2018-10-21 15:05] JoeAsir commented on #69
Thanks a lot! It's really nice of you helping me solve the problem!
ps. Minos is pretty awesome!

[2018-10-21 15:05] #69 closed

[2018-11-09 23:43] IgnacioCastro opened #70 "[Feature Request] Staticman Comments Support"
Hello:
Would it be possible to support Staticman as a source of comments?
Here are some related links about the Staticman comments project:
https://staticman.net
https://staticman.net/docs/
https://github.com/eduardoboucas/staticman/
Thank you.

[2018-11-18 01:53] IgnacioCastro opened #71 "[Feature Request] More options for sharing buttons."
Both AddThis and ShareThis have too many tracking ads calls, which make a webpage using them slower (and not compliant with GDPR, read [this](https://turbofuture.com/internet/Social-Sharing-Buttons-Without-Tracking) about how many tracking calls those services make). Maybe you could add support for other sharing buttons services that are more lightweight / without tracking urls?
Here are two examp

[2018-11-18 13:40] hachi1030-Allen opened #72 "May I know how to do SEO for your theme?"
Hi there,

according to search results online, most of the SEO documents are about the NEXT theme.

May I know how to do SEO in your blog theme?

Thanks!

Allen

[2018-11-19 05:56] ppoffice commented on #71
@IgnacioCastro Thank you for your suggestion. It is possible to add these two as new share plugins. However, this requires some work to reimplement their services locally as their share buttons are statically generated instead of dynamically inserted into the webpage using some scripts. Meanwhile, please feel free to add it yourself by adding a new file and put all the code. You can refer to https

[2018-11-19 05:58] ppoffice commented on #72
@hachi1030-Allen SEO is a broad topic and Minos is not specially optimized for SEO. However, many SEO approaches used in other sites/themes are generic and can be applied to Minos as well. You can modify the layout files directly for this.

[2018-11-20 01:41] hachi1030-Allen commented on #72
@ppoffice

Hi there, thanks for the reply.

I only have one question here, please check the below screen that from SEO document for NEXT theme:

![image](https://user-images.githubusercontent.com/32292089/48745911-47ea5300-eca8-11e8-8fbc-c3df18731c26.png)

It's trying to modify the title format for each document for SEO purpose. But I cannot find the similar code block in Minos theme. Can you show

[2018-11-21 15:50] hachi1030-Allen commented on #72
@ppoffice

Thanks for the reply.

I have 2 questions about this:

1. In the above screenshot that I shared with you, since it's the Next theme, so it's based on Swig file language format. Eg: `{{ config.title }}{{ theme.description }}`

  But in our theme, we are based on ejs, so your code will look like: `<title><%= page_title() %></title>`, may I know how can I modify to the same format which sh

[2018-11-21 18:38] ppoffice commented on #72
@hachi1030-Allen
Description is here: https://github.com/ppoffice/hexo-theme-minos/blob/master/layout/common/head.ejs#L8
You just have to move it up to the title tag:
[code]

The keywords should be
[code]

[2018-11-22 01:44] hachi1030-Allen commented on #72
@ppoffice

Cool. Thanks for the great information.

BTW, `<title><%= page_title() %><%- get_config('description') %></title>` , I saw you put the '-' before get_config('description'), should it be '=' as the page_title() or not?

Anyway I will try your solution tonight and get back to you.

Thanks a lot!

Allen

[2018-12-11 14:45] #72 closed

[2019-01-16 03:21] istek opened #75 "do you have a plan for migrating to hugo?"
this theme is cool, but there's no hugo theme, do you have a plan? thanks.

[2019-01-16 03:30] ppoffice commented on #75
@istek Sorry, there is no such plan.

[2019-01-23 22:23] ivanminutillo opened #78 "Custom Homepage"
Hi!
love your theme, I was trying without success to use a custom page as homepage instead of latest blog posts...is it possible?
Thanks :)

[2019-01-24 01:48] ppoffice commented on #78
@ivanminutillo You need a custom layout file. https://hexo.io/docs/templates#Layouts

[2019-02-11 06:21] dengcb opened #79 "能否给多语言页添加link标签的alternate属性"
我看了下joomla的多语言页，有翻译页链接的属性，类似：
[code]
我希望在minos生成多语言页时，也顺便把这个属性加到head里，感觉对搜索引擎理解和收录大有好处。

[2019-02-14 08:50] dengcb commented on #79
我试了下最新代码，发现默认语言的翻译属性多了个en：
`<link href="/en/about/index.html" rel="alternate" hreflang="en" />`
而我期望的是这样：
`<link href="/about/index.html" rel="alternate" hreflang="en" />`

[2019-02-24 16:00] tn710617 opened #80 "Would it be possible to move the lang button?"
Hello! I like your theme so much! Would it be possible to move the lang button to somewhere which is more noticeable? Like the top of the screen

[2019-02-24 17:19] ppoffice commented on #80
@tn710617 You'll need to edit the layout manually. Please try to move this line:
https://github.com/ppoffice/hexo-theme-minos/blob/master/layout/common/footer.ejs#L27
to somewhere in this file:
https://github.com/ppoffice/hexo-theme-minos/blob/master/layout/common/navbar.ejs

[2019-02-27 17:18] #79 closed

[2019-03-02 00:21] tn710617 commented on #80
Thanks! I followed your instruction, and got what I want.
I would suggest to move the menu to somewhere more noticeable, because every time when I visit some page rendered with language I don't know, the first thing I do is look for the language switch menu.
I've build my blog properly, and I really like your Theme. Here is the link to my
[blog](https://tn710617.github.io/)

[2019-03-02 00:21] #80 closed

[2019-03-07 13:15] acodercat opened #81 "mathjax怎么在指定页面打开，而不是每个页面都加载插件"
如题

[2019-03-07 15:22] ppoffice commented on #81
@acodercat 主题配置文件设置为
[code]

然后在需要的页面markdown头部加入
[code]

[2019-03-18 10:31] poying commented on #50
@ppoffice 遇到同樣的問題

問題在於 `10_i18n.js`，他總共被執行三次，有兩次是由 `01_check.js` 與 `99_content.js` 執行，在這種情況下 `10_i18n.js` 得不到 global 的 `hexo` 變數。不確定問題發生在哪，但可以簡單粗暴地解決。

解法：在 `01_check.js` 與 `99_content.js` 兩個檔案第一行加上 `global.hexo = hexo`

[2019-03-18 12:43] poying commented on #50
@ppoffice 補充

https://github.com/hexojs/hexo/blob/1b418b192d99202cbcda4e507c44af1a32dbc643/lib/hexo/index.js#L228

[code]

`hexo` 變數在 Hexo 主程式定義的方式本就是 `local` 變數，並非 `global`，所已會遇到這個問題還滿合理的。不清楚為什麼其他人沒遇到這個問題。

[2019-03-18 23:50] ppoffice commented on #50
@poying 非常感谢您的提醒。经过排查，我发现这个问题与`hexo-renderer-sass`和hexo的scripts引用过程中的参数传递有关。

首先，导致你和上面题主报错的原因在于被`require`的`10_i18n.js`中hexo变量确实不存在，而由于这个文件是由其他scripts引用的，引用者的本地hexo变量并没有借着`require('./10_i18n')`传入被引用的文件中，导致出错。

另外，其他人没有出错的原因在于他们安装的`hexo-renderer-sass`的版本较低。在其`v0.3.1`和`v0.3.2`版本中，`hexo`变量被直接暴露给`global`，所以会使`require('./10_i18n')`中存在`hexo`，掩盖了这个`bug`。

[2019-03-20 02:55] poying opened #84 "[Feature Request] Is there any plan for AMP support ?"

[2019-03-21 05:00] YuanjianZhang opened #85 "请问怎么使图片的alt在未设置的情况下，图片下方不出现黑条"
图片效果就像在您的预览中的第一条文章图片一样，而不是图床的样式。

[2019-03-21 06:39] YuanjianZhang commented on #85
我在查看source文件夹中的script.js后，将a标签添加在图片前将问题解决。
`<a>![](/images/test.jpg)`

[2019-03-21 06:40] #85 closed

[2019-03-22 08:39] bcrchzz opened #86 "[Feature Request] Layout for AboutMe page"
It is strange to show the written date and reading time at the about page. Maybe add a option to disable them will be better.

Besides this, we can also implement a specific and well-designed layout for about pages.

[2019-03-22 23:42] #78 closed

[2019-03-22 23:42] #81 closed

[2019-03-25 11:02] zhutmost opened #88 "[Feature Request] Beautify the footer"
1. Add Beian ICP information, which is a must for every Chinese legal website.
2. Add a dot between `author` and `PoweredBy`.
3. Jump to a new tab when clicking the `minos`.

[2019-03-25 11:13] zhutmost commented on #88
Maybe it would be better to add an option to allow users hide the `Powered by Hexo & Minos` information. (as the theme NeXT does.)

[2019-03-25 11:25] zhutmost commented on #88
![image](https://user-images.githubusercontent.com/20497382/54915940-402b0b80-4f33-11e9-80e0-cd435a18885f.png)
And the hyberlink of the ICP information is a little eye-catching. I guess you can setting it keep the same color with other ordinary text (i.e., in grey).

[2019-03-28 05:18] novate opened #91 "Insight search always include self-made 404 page."
Hi everyone, I have a self-made 404 page for my blogsite, however the insight search always include this 404 page as "Pages". I have checked the documentation of insight search, which let me to add `indexing: false` to the front. I tried that, but without help. Does anyone face the same problem? Do you know how to solve that.

大家好！我给自己的Github Pages做了一个diy的404页面，但是在insight搜索里面总是出现这个404页面，我不想让它在搜索框出

[2019-03-28 17:50] ppoffice commented on #91
@novate Actually insight search does not allow users to exclude any pages right now. However, you can try to change the following line in `lib/i18n.js` to see if it works.

[code]

[2019-03-29 04:19] novate commented on #91
@ppoffice Thank you, it works if I modify as below:
[code]
Can I issue a PR?

[2019-03-29 04:21] ppoffice commented on #91
@novate Of course. You are welcome to contribute.

[2019-03-29 04:29] novate opened #92 "TOC on small screens"
I find that we don't have TOC on small screens, can we add one?

[2019-03-29 08:07] novate commented on #92
The problem is that, we used bulma navbar, and such navbar cannot fold on small screens. Maybe we can make a pop-up TOC for small screens, but I'm not familiar with bulma and I don't have any ideas.
Maybe make a TOC like the effect of clicking search button can be good as well.

[2019-03-29 13:48] #91 closed

[2019-04-02 06:52] TomatoFryEggs opened #94 "Long link text leads to wrong layouts in mobile."
![image](https://user-images.githubusercontent.com/9395814/55387352-df6b8680-5563-11e9-829c-f8106f7e5cfa.png)

The first link won't be fitting for mobile width.

[2019-04-03 08:25] draran opened #95 "Overridding theme config does not work"
I cannot override settings from /themes/minos/_config.yml by editing the main /_config.yml file although this should be possible according to the hexo documentation, as described [here](https://hexo.io/docs/configuration.html#Overriding-Theme-Config). Is this intended?

[2019-04-03 14:00] ppoffice commented on #95
@draran It's not working that way in Minos. Please try to put your config options without the leading `theme_config:`.

[2019-04-27 20:05] #95 closed

[2019-05-01 16:00] ladychili opened #96 "LaTeX render issue"
![image](https://user-images.githubusercontent.com/27876613/57026703-4b5c1000-6c32-11e9-8ad5-894dafe50c9f.png)

Failed to render inline LaTeX code.

[2019-05-01 16:08] ladychili opened #97 "iframe Video layout issue on mobile"
![IMG_6841](https://user-images.githubusercontent.com/27876613/57027177-9b87a200-6c33-11e9-9c63-6bf0feac7a84.PNG)

**Video is not properly scaling.**

[2019-05-01 16:12] ladychili commented on #97
![image](https://user-images.githubusercontent.com/27876613/57027389-29638d00-6c34-11e9-803c-18653d209bc7.png)

[2019-05-01 17:25] ppoffice commented on #96
@ladychili Could you please provide the source code of the post? Also, did you enabled the mathjax plugin?

[2019-05-01 17:35] ladychili commented on #96
@ppoffice  Sure, mathjax is enabled as you can see other formulas are showing properly in the picture, except **inline code**.

The source code is a bit long, here is the yaml head and the corresponding part of the picture.

[code]

[2019-05-01 17:43] ladychili commented on #96
The same code works fine with NexT theme.

![image](https://user-images.githubusercontent.com/27876613/57031930-efe54e80-6c40-11e9-9980-2f9dea6757ae.png)

[2019-05-01 18:18] ppoffice commented on #97
@ladychili https://blog.zhangruipeng.me/hexo-theme-minos/Using-Hexo-Tag-Plugins-in-Minos/#YouTube

[2019-05-01 18:43] #97 closed

[2019-05-02 14:10] #96 closed

[2019-05-02 14:10] #94 closed

[2019-05-02 22:26] ladychili opened #98 "[Feature Request] A button scrolling to the top"

[2019-05-07 00:27] ladychili opened #100 "Functionality of Category, layout of Category page"
**Categorizing** and **tagging** are different functionalities. But apparently, `Category` page is using exactly the same layout as `Tag` page, which is not reasonable.
i.e. It's hard to skim the list of posts under a certain category, especially when there are a lot of articles under that category.

**Possible solution**:
1. It would be better to just list post titles and omit the content when se

[2019-05-15 02:04] dengcb commented on #88
I always set beian as plain text as well for many years.

[2019-05-17 11:32] GerhardMes opened #102 "some Plugin Problems"
Hello,
I have some problems especially with the  isn't working at all; and the gallery plugin sometimes functions perfectly and sometimes not at all.

Any hint how I can fix this?
Nice weekend and Cheers. Gerhard

[2019-05-17 20:11] ppoffice commented on #102
@GerhardMes Please give more details

[2019-06-14 19:36] liudixian commented on #102
I have the same problem...

<img width="590" alt="屏幕快照 2019-06-15 上午3 34 56" src="https://user-images.githubusercontent.com/11694349/59533606-9c903c80-8f1e-11e9-98e2-7fca8dd1f5ec.png">

but the result  is that

<img width="928" alt="屏幕快照 2019-06-15 上午3 35 59" src="https://user-images.githubusercontent.com/11694349/59533640-b7fb4780-8f1e-11e9-8968-db10a61fd2dc.png">

[2019-06-15 03:41] ppoffice commented on #102
@GerhardMes You cannot use Markdown inside HTML tags.

[2019-06-27 17:59] #102 closed

[2019-10-30 09:48] JackEggie opened #104 "Partial plugins/0 does not exist. (in common\head.ejs)"
在使用过程中报了很奇怪的错，能否请作者看一下可能的问题原因。

我的 package.json 如下：

[code]

plugins 部分配置如下：

[code]

在 `hexo g` 命令过程中报出大量相同错误，其中一个完整的错误栈如下：

[code]

[2019-10-30 15:36] ppoffice commented on #104
@JackEggie 请尝试`hexo clean`. 另外请删除`clipboard: true`

[2019-10-31 02:28] JackEggie commented on #104
作者你好。我的主题是直接从最新的 master branch 拉取的。

我找到问题了。是我的 hexo 配置 _config.yml 中也有 plugins 项，导致 head.ejs:59 代码读取的是 hexo 的配置而非主题的配置。这应该是我某次升级 hexo 版本时遗留下来的废弃配置。

[2019-10-31 02:28] #104 closed

[2019-10-31 11:28] coplayer opened #105 "Change the font?"
I want to change to the font that I want.

[2019-11-01 00:39] coplayer commented on #105
thx @ppoffice

[2019-11-01 00:39] #105 closed

[2020-02-04 11:09] alienzhou opened #107 "'<' and '>' in code blocks will occur an error"
When using `<` and `>` characters in code blocks, the HTML is displayed unexpectedly.

markdown source:

\`\`\`HTML
\<abbr\>12312\</abbr\>
\`\`\`

result:

![image](https://user-images.githubusercontent.com/9822789/73738831-2166e980-4780-11ea-8b21-72c640c34191.png)

expected:

![image](https://user-images.githubusercontent.com/9822789/73738702-ea90d380-477f-11ea-869f-674740825b53.png)

---

After

[2020-02-15 03:33] hijulian opened #108 "Using Netlify to deploy, Insight Search Chinese garbled."
Using Netlify to deploy, Insight Search Chinese garbled.
![image](https://user-images.githubusercontent.com/6925683/74581079-11ec6980-4fe6-11ea-9134-a3f206637769.png)

[2020-02-15 06:37] ppoffice commented on #108
@hijulian Can you show me your netlify url?

[2020-02-15 06:41] hijulian commented on #108
https://blog.changjujian.com/

[2020-02-15 06:43] hijulian commented on #108
https://pm.changjujian.com/

[2020-02-20 16:33] #108 closed

[2020-02-21 02:49] hijulian commented on #108
The problem persists, what do I need to do to resolve it.

[2020-02-21 03:49] hijulian commented on #108
It's normal now, thank you for the beautiful theme.

[2020-04-06 14:19] Nautilus-N opened #109 "How to change default renderer"
When I
1. Uninstall the default renderer(hexo-renderer-marked)
2. Install another renderer(such as "hexo-renderer-kramed")
3. Use hexo command "hexo clean"

It will report:
**INFO  Checking dependencies
ERROR Package hexo-renderer-marked is not installed.
ERROR Please install the missing dependencies in the root directory of your Hexo site.**

[2020-04-06 21:05] ppoffice commented on #109
@Nautilus-N Comment out this line should work
https://github.com/ppoffice/hexo-theme-minos/blob/master/scripts/01_check.js#L37

[2020-04-07 00:55] Nautilus-N commented on #109
Thanks! It works for me. :)

[2020-04-07 00:55] #109 closed

[2020-04-18 13:09] icepng opened #110 "设置toc为true后，文章导航栏中文显示乱码"
中文乱码问题

[2020-04-18 20:18] ppoffice commented on #110
@icepng 请提供更多信息。

[2020-04-19 00:52] icepng commented on #110
你好，如下图：
![1](https://user-images.githubusercontent.com/13582980/79676667-f175a100-821a-11ea-9301-7452fe17acf9.png)

[2020-04-19 00:55] ppoffice commented on #110
Minos主题升级到最新commit了么？

[2020-04-19 00:57] #107 closed

[2020-04-19 01:17] icepng commented on #110
嗯嗯 拉的master分支

[2020-04-19 02:00] ppoffice commented on #110
@icepng 我这里无法复现这个问题。请提供你的出问题的markdown文件和根目录下的`package.json`。并确保你在生成html之前使用`hexo clean`清理了缓存。

[2020-04-19 03:30] icepng commented on #110
markdown文件:
[code]

package.json
[code]

谢谢。

[2020-04-19 03:31] icepng commented on #110
![image](https://user-images.githubusercontent.com/13582980/79678765-4fad7e80-8231-11ea-8d26-65e74b10e6e8.png)

这是显示的效果

[2020-04-19 03:35] ppoffice commented on #110
@icepng 请升级Hexo到4.0以上版本。

https://github.com/ppoffice/hexo-theme-minos/blob/site/package.json

[2020-04-19 03:58] #110 closed

[2020-05-25 09:48] WanZixin opened #111 "a problem with the table presentation in markdown document"
This is what the table shows in the blog. But I want to show the table this way.![批注 2020-05-25 174509](https://user-images.githubusercontent.com/43515397/82801416-dd732e00-9eaf-11ea-9072-85eae9280d21.png)
![批注 2020-05-25 175145](https://user-images.githubusercontent.com/43515397/82801773-6c804600-9eb0-11ea-8256-af1f32426a65.png)

[2020-05-25 15:28] ppoffice commented on #111
@WanZixin please enable gfm in your site's config.yml

https://github.com/hexojs/hexo-renderer-marked/blob/master/README.md#options

[2020-05-26 02:09] WanZixin commented on #111
@ppoffice Thank you. It worked as you said. Besides, I also used some CSS to style the table.
![批注 2020-05-26 100551](https://user-images.githubusercontent.com/43515397/82853601-c298cc00-9f38-11ea-8c13-9def619166bf.png)
![批注 2020-05-26 100633](https://user-images.githubusercontent.com/43515397/82853657-e4924e80-9f38-11ea-9feb-788082c53120.png)

[2020-06-20 16:33] #111 closed

[2020-06-28 14:38] LeiWang1999 opened #113 "I Can't use Tag Plugin"
Actually I wanna archive such effect: Show Image on excerpt
I saw your solutions in here : https://blog.zhangruipeng.me/hexo-theme-minos/Using-Hexo-Tag-Plugins-in-Minos/
But i cann't use every tag plugins!
Error like this:

[2020-06-28 16:38] ppoffice commented on #113
@LeiWang1999 There's no tag plugin called `centerquote`

[2020-06-29 00:14] LeiWang1999 commented on #113
Oh! Thank u, That tag plugin can only be used in `NexT` theme, But i wanna show image in article, use sentence below:
`
![](http://leiblog.wang/static/image/2020/6/mountain.jpg)
<img src="http://leiblog.wang/static/image/2020/6/mountain.jpg"></img>
`
It cannot be shown in home excerpt, I search some solutions include
{% asset_img"http://leiblog.wang/static/image/2020/6/mountain.jpg" banner %}
But

[2020-06-29 03:57] LeiWang1999 commented on #113
My intuition says it is because excerpt uses a different page generation process than the normal post.
Can you tell me how you used the excerpt in your Demo page, I tried the another auto-excerpt plugin.

[2020-06-29 04:53] ppoffice commented on #113
@LeiWang1999 https://hexo.io/docs/tag-plugins#Post-Excerpt
https://raw.githubusercontent.com/ppoffice/hexo-theme-minos/site/source/_posts/Configuring-Minos.md

[2020-06-29 05:14] LeiWang1999 commented on #113
@ppoffice Awesome! Thank u very much!

[2020-06-29 05:14] #113 closed

[2020-09-01 10:31] vanducng commented on #100
Hi @ladychili  and @ppoffice,
I did try to customize a bit the css and layout as below. Hope it can be used in the master branch.

- Add block of css code to `source/css/style.scss`

[code]
- Update the `layout/categories.ejs` as following using [list_categories](https://hexo.io/docs/helpers#list-categories) helper function.
[code]
- Result looks as below:
![image](https://user-images.githubuserco

[2021-01-17 14:11] Papageno2 opened #117 "show info. on every page with google-analytics data"
thx for this nice theme.
Actually I know almost nothing about HTML and .js.

the question is how to show the tag on every page with google analytics data, like the `comment` tag on pages.

I have enabled the plugins
[code]

[2021-01-17 15:32] ppoffice commented on #117
Just remove google tracking ID from your config file.

[2021-01-18 01:35] Papageno2 commented on #117
it seems unreasonable ?
why removing tracking ID will add google-analytics data on my page footer ?
like this?

[code]

actually it doesn't work.

[2021-01-18 03:13] ppoffice commented on #117
Sorry I thought you meant to disable Google analytics. Did you enter the right tracking ID? Also, did you disable ad blockers in your browser?

[2021-01-18 05:42] Papageno2 commented on #117
hah ~

 - the tracking ID is right because I can see the analytics in my google-analytics account.
 - iI think no ad blockers enabled, if yes, any hints in chrome browser for ad blocking?

[2021-01-18 12:09] ppoffice commented on #117
What do you mean by "show the tag"?

[2021-01-19 04:37] Papageno2 commented on #117
maybe I have misleading in words.
What I mean is to show data at the footer, such as visitors or views for posts.

for example, [in this blog for Next theme.](https://theme-next.js.org/docs/third-party-services/statistics-and-analytics)

[2021-01-19 15:08] ppoffice commented on #117
@Papageno2 I think page view and visitor counters are provided by Busuanzi (not Google), which is not supported by Minio right now. However, it's very simple to add it to your blog. Simply go to http://busuanzi.ibruce.info/ and copy that script to https://github.com/ppoffice/hexo-theme-minos/blob/2.4.0/layout/common/footer.ejs#L7 and that should be it.

[2021-01-20 02:29] Papageno2 commented on #117
well, thanks for your reply. but I donot want to use Busuanzi 😆

[2021-01-22 07:31] lxynov opened #118 "[Feature Request] Make a table sortable"
For a table like
| Title | Year | Category | Rating |
| --- | ----------- | ----| --- |
| Book 1 | 2018 | Fiction | 4.2 |
| Book 2 | 2005 | Tech | 3.9 |
| Book 3 | 2008 | Fiction | 4.3 |

It would be useful to make it sortable by columns. Example: https://www.w3schools.com/w3js/w3js_sort.asp

According to [this post](https://stackoverflow.com/a/55730907), we can import [a Sortable JS library](http

[2021-01-22 16:06] ppoffice commented on #118
Thanks for your suggestion. I think it could be implemented either as a Hexo plugin or theme plugin.

[2021-04-18 03:27] WanZixin opened #119 "本地启动后样式失效了"
本来应该是这样
![image](https://user-images.githubusercontent.com/43515397/115133207-f8570f80-a038-11eb-9406-9853dbdcd4c2.png)
结果现在是这样了
![image](https://user-images.githubusercontent.com/43515397/115133217-086eef00-a039-11eb-8020-9cc9a45c2996.png)
应该用什么办法解决

[2021-04-19 15:37] ppoffice commented on #119
@WanZixin 在浏览器中按F12打开开发者面板，在其中切换到Network(网络)标签页观察哪些资源没有加载（红色的条目）。

![image](https://user-images.githubusercontent.com/8849362/115263594-8bf51280-a103-11eb-9e65-2b0097e7a4e7.png)

[2021-04-21 12:21] WanZixin commented on #119
几个css文件http状态码成307了，可能是这的问题吧，但是不知道怎么解决了
![image](https://user-images.githubusercontent.com/43515397/115552378-da123d80-a2de-11eb-8696-19b3b85ef742.png)

[2021-04-21 14:46] ppoffice commented on #119
你有修改主题的布局或者样式表文件么？如果有的话，确保布局文件的html和样式表没有语法错误。

[2021-04-21 15:20] WanZixin commented on #119
好的，我修改过配置文件，明天我检查一下有没有语法错误

[2021-04-22 01:45] WanZixin commented on #119
@ppoffice 你好，我这边已经解决了，谢谢你的解答

[2021-04-22 02:17] #119 closed

[2021-04-28 14:01] WanZixin opened #120 "Comment GitTalk Support"

[2021-05-09 10:42] WanZixin opened #121 "gallery relate"
I want to create a gallery in my blog site. I create a markdown document and add code like this.
[code]
But got such a result. It is fine to click on a picture to view it, **but the overview pictures will not be displayed**. Do you have any suggestions?
![gallery problem](https://user-images.githubusercontent.com/43515397/117568751-d0694200-b0f4-11eb-86e8-52af5dad0a53.png)

[2021-05-09 17:07] ppoffice commented on #121
@WanZixin Please see https://raw.githubusercontent.com/ppoffice/hexo-theme-minos/site/source/_posts/Creating-a-Gallery-in-Minos.md

[2021-07-18 14:25] WanZixin opened #122 "[Configuration] Multi Language Suppport"
Hi, there. I add another language in my site like this. I just want to translate the menu bar and the time, number of words and reading time of each article, not the article itself. What should I do next?
![image](https://user-images.githubusercontent.com/43515397/126070777-2281f2c3-3d97-4c7c-8562-16c50aaefe6a.png)

[2021-07-18 19:16] ppoffice commented on #122
@WanZixin You can try to copy your article to the target language directory. For instance, just copy everything from `source/_posts/*.md` to `source/_posts/zh-CN/`.

[2021-07-19 05:21] WanZixin commented on #122
@ppoffice I did what you said, but I didn't succeed. What else should I pay attention to? This picture is my directory structure.

![image](https://user-images.githubusercontent.com/43515397/126106932-2a2ecc71-1e50-460b-85ae-87ede7a408a6.png)

[2021-07-19 06:07] ppoffice commented on #122
Create a test.md under both _posts and _posts/zh-CN and see if it works for that post. @WanZixin

[2021-07-20 03:01] WanZixin commented on #122
@ppoffice I create a `test.md` in **_post**, then copy it to **_posts/zh-cn**. When I switch to simplified Chinese, the browser displays `Cannot GET /zh-cn/Diary/test/`. But I do have a `test.md` in **_post/zh-cn**.

[2021-07-20 05:09] ppoffice commented on #122
@WanZixin Try to change your `permalink` to `:slug/`:

https://github.com/ppoffice/hexo-theme-minos/blob/site/_config.yml#L19

[2021-07-24 09:37] WanZixin commented on #122
@ppoffice I change it as you said, but still get a mistake. After using the commands `hexo c`, `hexo g` and `hexo s`, I opened `localhost:4000` and switched to simplified Chinese and got the following prompt on the console.

[code]

In addition, when I use `hexo g`, I get such a error, and there are many such errors like this:

[code]

I think there must be something wrong that led to such a mista

[2021-07-25 03:52] WanZixin commented on #122
@ppoffice I moved `.config.zh-cn.yml` file from the theme folder to the top folder. Now I can see some effects, but the menu bar still won't change the language. Is there any wrong with my settings？

![image](https://user-images.githubusercontent.com/43515397/126887081-f1e4794c-3c49-4f2d-8ca9-8c917189945a.png)

[code]

[2021-07-25 04:38] ppoffice commented on #122
It's `_config.yml` and `_config.zh-CN.yml`.

[2021-08-04 23:27] wenheqi opened #123 "Error when generating static files with Hexo 5.4.0"
I was trying to use minos theme to generate a site with support for both English and Simplified Chinese.

# Issue Description
An error occurred when generating the static files with Hexo 5.4.0.

[code]

# How to Reproduce
1. create both `_config.yml` and `_config.zh-cn.yml` under `themes/minos`
2. modify the `_config.yml` accordingly under Hexo root folder
3. create a dummy post in English with co

[2021-08-04 23:29] ppoffice commented on #123
Sounds good to me. Look forward to your PR.

[2021-08-04 23:32] wenheqi commented on #123
#124

[2021-08-04 23:34] ppoffice commented on #123
by the way,  does this change have any impact on hexo  5.3.x and before?

[2021-08-05 00:04] wenheqi commented on #123
I just checked the homepage of js-yaml. Here is what I got:

# js-yaml 3.x.x

Both `safeLoad` and `load` will parse `string` as single YAML document. Under the `load` function, the author of `js-yaml` says

# js-yaml 4.x.x

`safeLoad` is removeda as `load` is safe by default.

Speaking of trusted sources, if my understanding is correct, minos uses `yaml.safeLoad` only to parse the `_config.lang.ym

[2021-08-05 00:07] #123 closed

[2021-08-05 09:33] LB-Yu opened #125 "[Feature Request] Add visit number"
Hi!
Love your theme so much. Could you add a visit number of the site and every page?

[2021-12-02 15:34] luojunhui1 opened #126 "render errors"
website using this them has some rendering problems, i wonder to know how can i solve these problems, i really like this theme and want to deploy it on my blog.
![image](https://user-images.githubusercontent.com/41661108/144452830-4301de7f-46c9-416b-bffd-99c217a899e1.png)

[2021-12-02 20:25] ppoffice commented on #126
@luojunhui1 You may have to change the static file links, such as the following one, to another CDN provider that is working with your ISP.

https://github.com/ppoffice/hexo-theme-minos/blob/2.4.0/layout/common/head.ejs#L44

[2021-12-22 00:41] zer0pwned opened #127 "[feature request] dark mode"
Hi, thank you so much for bringing such elegant hexo theme to us. Really appreciate your effort!

I was wondering would it be possible to also have dark mode for this particular theme? I tried some solutions where you can invoke external js to force the website goes to dark theme but it normally not smart enough to also turn the nav bar into dark mode. Thanks for your great work again!

[2022-01-30 10:09] SongshGeo opened #128 "搜索按钮出现在导航栏，但搜索页面出现在底部"
在部署后我出现了这样的 bug：

![gAtwz2](https://gitee.com/SongshGeo/Picgo2/raw/master/uPic/gAtwz2.png)

请问这是为什么呀？

[2022-01-30 15:00] ppoffice commented on #128
@SongshGeo 检查一下下面这个依赖有没有安装：
https://github.com/ppoffice/hexo-theme-minos/blob/b9327bb948ef34edde3309f814352d5986f64cd7/package.json#L19

[2022-01-31 09:05] SongshGeo commented on #128
@ppoffice

感谢回复，我查了一下这个依赖的版本：
[code]
这是 7.7.x 和 0.4 版本差异的问题吗。差这么远的版本吗..

[2022-01-31 09:58] SongshGeo opened #129 "Is there full source code regarding to the theme example? 有没有主题文档那个例子的源码？"
感谢贡献 Mino 这样优秀的主题。

我最近在参照着您的[文档](https://ppoffice.github.io/hexo-theme-minos/)在折腾，但发现效果还是离您展示主题有不小差距。
对于主题样式如何调整（如字体、页边距、鼠标悬浮颜色）等，我在 source/css 下找了找，但我并不能很直观的知道该如何修改。

所以对于这些细节的调整，有没有可供参考的文档？或者您生成[文档站点](https://ppoffice.github.io/hexo-theme-minos/)的源码在哪里有公开吗，非常想学习一下如何调整到那样的效果。

[2022-01-31 10:04] ppoffice commented on #128
npm -v hexo-renderer-sass 打印的是npm的版本，npm -v后面不接受其他参数。

[2022-01-31 10:06] ppoffice commented on #129
文档站点的源码在site分支。

[2022-01-31 10:10] SongshGeo commented on #128
@ppoffice 啊感谢，抱歉不太熟悉这些，给您添麻烦了。
但我确实查了一下，是安装了的：
而且我记得一开始没安装这个依赖的时候，minos 是会报错 不能打开 hexo s 的

[code]

[2022-01-31 10:13] ppoffice commented on #128
npm view hexo-renderer-sass version
上面这条命令查看的是npm源上的包的最新版本，而不是本地安装的版本。

[2022-01-31 10:15] SongshGeo commented on #129
@ppoffice 感谢回复🙏

我看过那个，不过如果我没理解错的话，那个只是 `hexo g` 出的 public 站点。

我按照您的文档折腾完后，和您文档例子的布局基本一致了，但字体、鼠标悬停、页边距还想进一步美化 （我猜和 css 有关）。
但能力不足，想学习一下这些如何设置。

[2022-01-31 10:17] ppoffice commented on #129
不是，hexo g产生的静态html在gh-pages分支。

请自己动动手查看后再发言。。。

[2022-01-31 12:01] SongshGeo commented on #128
@ppoffice  真的很抱歉一次次打扰，我又仔细操作了一遍 `hexo-renderer-sass` 依赖项的安装，还是没找到问题所在。

**我做了如下操作：**

1. **首先我使用这个命令查看本地包**：
`npm ls hexo-renderer-sass`
它显示了包的版本和位置：
[code]

2. **在这样的情况下，我开启了`hexo s`服务，题目中所示的问题依然存在**

3. **我使用 `npm uninstall hexo-renderer-sass` 卸载依赖项后重新查看，得到如下结果**：
[code]

4. **可见，现在查不到这个依赖项了，而且这时候再尝试使用 `hexo s` 会报错缺少依赖项**：
[code]

5. **我使用 `cnpm` 重新安装依赖项（我无法使用 `npm install` 命令安装 `hexo-renderer-s

[2022-01-31 13:49] ppoffice commented on #128
运行`hexo s`或者`hexo g`的日志是什么样的？有报错么？

[2022-02-06 16:46] SongshGeo commented on #128
@ppoffice

抱歉才回复，经您指点，查了`hexo`的日志才看到有一个报错：

[code]

看起来是版本不适配的问题，顺着这个报错我去安装了新的 node-sass 版本。
首先 `Minos` 的依赖中找到了 `hexo-renderer-sass` 包：

[code]
而这个包中的 `node-sass` 依赖版本已经过老了：
[code]

我把这个包的`node-sass`版本手动改成了最新的，然后重新安装，问题解决。

再次感谢您的耐心解答。

[2022-02-06 16:50] SongshGeo commented on #129
抱歉打扰，这个问题在[我的另一个issue](https://github.com/ppoffice/hexo-theme-minos/issues/128#issue-1118480443)解决后也解决了，是`node-sass`依赖项版本的问题，才导致字体、格式等不是按预期出现的。

再次感谢您的耐心答复。

[2022-03-19 11:14] PenchantLeo commented on #128
老哥，我也遇到这个问题了，hexo s之后出现这个提示，但是没有报错
Plugin load failed: %s hexo-renderer-sass

[2022-05-22 07:47] dqwyy commented on #128
![image](https://user-images.githubusercontent.com/20705919/169684381-84806b95-fa31-424f-9328-b79e2cc41daf.png)

代码块显示错误

![image](https://user-images.githubusercontent.com/20705919/169684394-96092b9d-5c76-40c8-b497-ee8dcc515397.png)

跟题主一样的状况

![image](https://user-images.githubusercontent.com/20705919/169684465-13a7bdbc-d9f0-4104-b466-73dac1b315aa.png)

显示有个CSS文档404了

请问该如何解决这个问题呢？真的非常喜欢这个主题

[2022-05-30 10:37] Simon-Leung commented on #102
but the [Creating-a-Gallery-in-Minos.md](https://raw.githubusercontent.com/ppoffice/hexo-theme-minos/site/source/_posts/Creating-a-Gallery-in-Minos.md) use markdown inside html tags

[2022-05-30 10:40] Simon-Leung opened #130 "gallery插件问题"
[code]
这样显示为下面：
[code]

[2022-05-30 11:01] Simon-Leung commented on #130
and how to use 'thumbnails'

[2022-05-30 14:19] ppoffice commented on #130
Html和markdown治疗加一行空行试一下

[2022-05-31 11:05] Simon-Leung commented on #130
不行啊，加了就变成
[code]
一样显示不了，你页面的教程不也是显示不了嘛。
教程里面也是显示不了的，[Creating-a-Gallery-in-Minos](http://ppoffice.github.io/hexo-theme-minos/Creating-a-Gallery-in-Minos/)，查看了页面源码就是这样；
`<p>Furthermore, you can also use Justified Gallery to display you photos in a grid:</p><div class="justified-gallery">![Elephant](/hexo-theme-minos/gallery/animals/elephant.jpeg) ![D......`

[2022-06-04 06:37] ppoffice commented on #130
@Simon-Leung 此问题已在最新版本中修复，请更新到最新版本。另外请注意本主题不再维护，如有需要请切换到其他主题。

[2022-06-04 06:37] #130 closed